@{
	ViewData["Title"] = "Home Page";
}

<html>



<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<div class="text-center">
		<h1 class="display-4">Banka</h1>
	</div>

</head>


<body>



	<form method="POST">

		<table class="metin" border="1">

			<tr>
				<td>&nbsp &nbsp &nbsp Kayıt Tarihi:</td>
				<td><input type="text" class="form-control" name="KayitTarihi" id="KayitTarihi" required placeholder="Lütfen Kayıt Tarihi Giriniz" value="@AtikJr.Controllers.BankaController.kaydedilecekBanka.REC_DATE"></td>
			</tr>

			<tr>
				<td>&nbsp &nbsp &nbsp Kaydeden Kullanıcı:</td>

				<td><input type="text" class="form-control" name="KaydedenKullanici" id="KaydedenKullanici" required placeholder="Lütfen Kaydeden Kullanıcının Adını Giriniz" value="@AtikJr.Controllers.BankaController.kaydedilecekBanka.REC_UPUSERNAME"></td>
			</tr>

			<tr>
				<td>&nbsp &nbsp &nbsp IBAN No:</td>
				<td><input type="text" class="form-control" name="IbanNo" id="IbanNo" required placeholder="Lütfen IBAN No Giriniz" value="@AtikJr.Controllers.BankaController.kaydedilecekBanka.IBAN_NO"></td>
			</tr>

			<tr>
				<td>&nbsp &nbsp &nbsp Banka Hesap Kodu:</td>
				<td><input type="text" class="form-control" name="HesapKodu" id="HesapKodu" required placeholder="Lütfen Banka Hesap Kodunu Giriniz" value="@AtikJr.Controllers.BankaController.kaydedilecekBanka.BANKA_HESAP_KODU"></td>
			</tr>

			<tr>
				<td>&nbsp &nbsp &nbsp Banka Telefon:</td>
				<td><input type="text" class="form-control" name="BankaTelefon" id="BankaTelefon" required placeholder="Lütfen Banka Telefon No Giriniz" value="@AtikJr.Controllers.BankaController.kaydedilecekBanka.BANKA_TELEFON"></td>
			</tr>

			<tr>
				<td>&nbsp &nbsp &nbsp </td>
				<td><button class="" name="" type="submit"><span>Ekle</span></button></td>
			</tr>

		</table>

	</form>


	<table class=" metin ">
		<thead>
			<tr>
				<th>Kayıt No</th>
				<th>Kayıt Tarihi</th>
				<th>Kaydeden Kullanıcı</th>
				<th>IBAN No</th>
				<th>Banka Hesap Kodu</th>
				<th>Banka Telefon</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var item in AtikJr.Controllers.BankaController.bankaListesi)
			{
				<tr>
					<td>@item.REC_NO</td>
					<td>@item.REC_DATE</td>
					<td>@item.REC_UPUSERNAME</td>
					<td>@item.IBAN_NO</td>
					<td>@item.BANKA_HESAP_KODU</td>
					<td>@item.BANKA_TELEFON</td>

				</tr>
			}
		</tbody>
	</table>






</body>





</html>







