@{
	ViewData["Title"] = "Home Page";
}

<html>



<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<div class="text-center">
		<h1 class="display-4">Banka</h1>
	</div>

</head>


<body>

	<form action="../Controllers/BankaController/BankaKayıt">

		<table class="metin" border="1">

			<tr>
				<td>&nbsp &nbsp &nbsp Kayıt Tarihi:</td>
				<td><input type="text" class="bosluk" name="no" id="no" required placeholder="Lütfen Kayıt Tarihi Giriniz"></td>
			</tr>

			<tr>
				<td>&nbsp &nbsp &nbsp Kaydeden Kullanıcı:</td>

				<td><input type="text" class="bosluk" name="ad" id="ad" required placeholder="Lütfen Kaydeden Kullanıcının Adını Giriniz"></td>
			</tr>

			<tr>
				<td>&nbsp &nbsp &nbsp IBAN No:</td>
				<td><input type="text" class="bosluk" name="no" id="no" required placeholder="Lütfen IBAN No Giriniz"></td>
			</tr>

			<tr>
				<td>&nbsp &nbsp &nbsp Banka Hesap Kodu:</td>
				<td><input type="text" class="bosluk" name="no" id="no" required placeholder="Lütfen Banka Hesap Kodunu Giriniz"></td>
			</tr>

			<tr>
				<td>&nbsp &nbsp &nbsp Banka Telefon:</td>
				<td><input type="text" class="bosluk" name="no" id="no" required placeholder="Lütfen Banka Telefon No Giriniz"></td>
			</tr>

			<tr>
				<td>&nbsp &nbsp &nbsp </td>
				<td><button class="" name="" type="submit"><span>Ekle</span></button></td>
			</tr>

		</table>

	</form>


	<table class="table tablo1 tablo1veri tablo1veri2 ">
		<thead>
			<tr>
				<th>Kayıt No</th>
				<th>Kayıt Tarihi</th>
				<th>Kaydeden Kullanıcı</th>
				<th>IBAN No</th>
				<th>Banka Hesap Kodu</th>
				<th>Banka Telefon</th>
				<th>Sil</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in AtikJr.Controllers.BankaController.bankaListesi)
			{
				<tr>
					<td>@item.REC_NO</td>
					<td>@item.REC_DATE</td>
					<td>@item.REC_UPUSERNAME</td>
					<td>@item.IBAN_NO</td>
					<td>@item.BANKA_HESAP_KODU</td>
					<td>@item.BANKA_TELEFON</td>
					<td><a class="btn btn-primary btn-sm" href="">Delete</a></td>
				</tr>
			}
		</tbody>
	</table>






</body>





</html>







